= partial "layouts/partial/header"
= partial "layouts/partial/nav-top"
.container
  .push
  / Main hero unit for a primary marketing message or call to action
  = yield
  = partial "layouts/partial/footer"

