= partial "layouts/partial/header"
= partial "layouts/partial/nav-top"
.container
  .nav_content_unhide.visible-desktop
  .row
    .span2
    .span8
      = yield
    .span2
  = partial "layouts/partial/footer"

