---
title: Dustin's Portfolio
---
=javascript_include_tag "jquery.min"
%script{:type=>"text/javascript"}
  $(document).ready(function(){
  $('.carousel').carousel();
  });
.row
  / Carousel - consult the Twitter Bootstrap docs at
  / http://twitter.github.com/bootstrap/javascript.html#carousel
  .span2
  .span8
    #this-carousel-id.carousel.slide
      / class of slide for animation
      .carousel-inner
        .item.active
          / class of active since it's the first item
          %img{:alt => "", :src => "http://placehold.it/1200x480"}/
          .carousel-caption
            %p Caption text here
        .item
          %img{:alt => "", :src => "http://placehold.it/1200x480"}/
          .carousel-caption
            %p Caption text here
        .item
          %img{:alt => "", :src => "http://placehold.it/1200x480"}/
          .carousel-caption
            %p Caption text here
        .item
          %img{:alt => "", :src => "http://placehold.it/1200x480"}/
          .carousel-caption
            %p Caption text here
      %a.carousel-control.left{"data-slide" => "prev", :href => "#this-carousel-id"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#this-carousel-id"} ›
  .span2
