%ul
    - blog.articles[0...10].each do |article|
        %li

            %article.summary
                %h2
                    %i.icon-chevron-right
                    %a{:href => article.url}= article.title
                    %span= article.date.strftime('%b %e')
                %p= article.summary
                %hr/

