%h4
    %i.icon-chevron-right
    Recent Blog Posts
- years = Array.new
- blog.articles.each do |year|
    - years << year.date.year
- years.uniq.each do |year|
    %ul
        %li
            %strong
                = year
            - blog.articles.each do |article|
                - if year == article.date.year
                    %li
                        %strong
                            %a{href: article.url}
                                = article.title
                        \-
                        %span
                            = article.date.strftime('%b %e')
