---
title: Zive.me | Dustin Zeisler
---
.hero-unit
    = image_tag 'me.jpg'
    .intro
        %h1 Dustin Zeisler
        %p.hidden-phone This my blog for personal stuff, family, programming, etc.
.container
    .row
        = partial "blog/summary"
